/* DRAWER LAYOUT */
.drawer {
  display: none;
}

.drawer__overlay {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 100%;
  z-index: 99;
  opacity: 0;
  transition: opacity 0.3s;
  will-change: opacity;
  background-color: #000;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.drawer rux-container div[slot="header"] {
  display: flex;
  gap: var(--spacing-4);
}

.drawer rux-container div[slot="header"] rux-button {
  margin-left: auto;
}

.drawer__wrapper {
  position: fixed;
  top: 6.75rem;
  right: 0;
  bottom: 0;
  width: 100%;
  max-width: 500px;
  z-index: 99;
  overflow: auto;
  transition: transform 0.3s;
  will-change: transform;
  display: flex;
  flex-direction: column;
  -webkit-transform: translate3d(103%, 0, 0);
  transform: translate3d(103%, 0, 0);
}

/* DRAWER CONTENT  */

.drawer__content {
  position: relative;
  overflow-x: hidden;
  overflow-y: auto;
  height: 100%;
  width: 100%;
  flex-grow: 1;
  /* Optional */
  padding-top: 1.5rem;
  background-color: var(--color-background-surface-default);
}

.drawer--left .drawer__wrapper {
  left: 0;
  right: auto;
  -webkit-transform: translate3d(-100%, 0, 0);
  transform: translate3d(-100%, 0, 0);
}

.drawer.is-active {
  display: block;
}

.drawer.is-visible .drawer__wrapper {
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}

.drawer.is-visible .drawer__overlay {
  opacity: var(--opacity-50);
}

.tabs-wrapper {
  display: flex;
  justify-content: center;
}

.drawer__header {
  display: flex;
  justify-content: space-between;
  padding-block: var(--spacing-4);
  align-items: center;
  padding-inline: var(--spacing-4);
}

.drawer__header rux-status {
  margin-right: var(--spacing-4);
  margin-left: var(--spacing-3);
}

.drawer__header > div {
  display: flex;
  align-items: center;
}

/* DRAWER FOOTER */

.run-length-footer {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  height: 4.5rem;
  width: 93%;
  background-color: var(--color-background-base-header);
  font-weight: var(--font-weights-bold);
  padding-right: var(--spacing-8);
}
