/* PASS PLAN LIST */

.pass-plan-wrapper {
  height: 100%;
  overflow-x: hidden;
}

.next-pass-time {
  display: flex;
  margin-block: var(--spacing-6);
  align-items: center;
  font-weight: bold;
  justify-content: center;
}

.next-pass-time rux-icon {
  margin-right: var(--spacing-2);
}

.pass-plan-list {
  display: flex;
  flex-direction: column;
}

.rux-tree-content {
  display: flex;
  flex-flow: row nowrap;
  width: 100%;
  align-items: center;
}

.rux-tree-content div:nth-of-type(1) {
  margin-right: 1.8rem;
  width: var(--spacing-8);
}

.rux-tree-content div:nth-of-type(2) {
  margin-right: 2.15rem;
  width: 13.5rem;
}

li {
  list-style-type: none;
  padding-left: 0;
  margin: 0;
}

.tree-node.parent {
  padding: 0;
  margin: 0;
}

.pass-plan-wrapper ul {
  padding-left: 0;
  margin: 0;
}

/* RUX TREE HEADER */

.rux-tree-header {
  background-color: var(--color-background-surface-header);
  display: flex;
  flex-flow: row nowrap;
  width: 100%;
  box-shadow: 0px 3px 3px 0px rgb(0 0 0 / 40%);
  height: var(--spacing-10);
  padding-inline: var(--spacing-2);
  font-size: var(--font-size-lg);
  align-items: center;
}

.rux-tree-header span:nth-of-type(1) {
  margin-right: var(--spacing-12);
}

.rux-tree-header span:nth-of-type(2) {
  margin-right: 10.5rem;
}
